<a href="https://colab.research.google.com/github/19PA1A0294/AILab/blob/master/Exp1_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **"Experiment 1: Numpy"**

## **i) Different ways to create a Numpy arrays**

**a)create a numpy array using List**

In [4]:
import numpy as np
a=np.array( [[1,2,3],[4,5,6]])
print(a)

[[1 2 3]
 [4 5 6]]

**b)Create a numpy array using arange function**

In [11]:
a=np.array([[1,2,3],[98,99,100]])
print(a)

[[  1   2   3]
 [ 98  99 100]]

## **ii)ADD,remove,modify,array elements**

**a)Create a numpy array using add function.**

In [12]:
a=np.array([1,2,3])
b=np.append(a,[10,20,30])
print(b)

[ 1  2  3 10 20 30]

**b)Create a numpy array using remove function.**

In [13]:
c=np.delete(a,2)
print(c)

[1 2]

**c)Create a numpy array using remove function.**

In [15]:
c[c<5]=-1
print(c)

[-1 -1]

## **iii)Arthematic operations on Numpy array**

In [16]:
import numpy as np
a=([1,2,3])
b=([4,5,6])
num_sum = np.add(a,b)
num_diff = np.subtract(a,b)
num_quo = np.divide(a,b)
num_mod = np.mod(a,b)
num_pow = np.power(a,b)
print(num_sum)
print(num_diff)
print(num_quo)
print(num_mod)
print(num_pow)

[5 7 9]
[-3 -3 -3]
[0.25 0.4  0.5 ]
[1 2 3]
[  1  32 729]

## **iv)Slicing and iterating of numpy arrays.**

**a)Create a numpy array using Slicing function.**

In [17]:
import numpy as np
arr=np.array([1,2,3,4,5,6,7,8,9,10])
print(arr[1:8])

[2 3 4 5 6 7 8]

**b)Create a numpy array using iterating function.**

In [18]:
for x in arr:
  print(x)

1
2
3
4
5
6
7
8
9
10

## **v)Matrix operations on numpy arrays**

In [19]:
import numpy as np
a=np.array([[1,2],[3,4]])
b=np.array([[5,6],[7,8]])
print(np.add(a,b))
print(np.subtract(a,b))
print(np.divide(a,b))

[[ 6  8]
 [10 12]]
[[-4 -4]
 [-4 -4]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]