<a href="https://colab.research.google.com/github/19PA1A0294/AILab/blob/master/Exp_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **"Experiment No 2 : Pandas"**

## **1)Create a data frame manually**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {'Roll No':['286','294', '295'], 'Name':['Divaker','Yogendra','Raghavendra']}
df = pd.DataFrame(data=data)
df

## **2)Import data into a dataframe**

In [ ]:
df=pd.read_excel("students_placement_data.csv")

In [ ]:
df.head()

In [ ]:
df.isna().any()

In [ ]:

df.shape

In [ ]:

df.describe

## **3)Adding , Deleting , Modifying the rows/columns in a dataframe**

### **3.1) Adding a column**

In [ ]:
host_day = pd.read_excel("hostlers_day_scholars.csv")

In [ ]:
host_day.head()

In [ ]:
df["hostlers/days scholar"]=host_day.values
df.head()

### **3.2) Deleting a column**

In [ ]:
del df["registered_for_ Placement_Training"]
df.head()

### **3.3) Adding a row**

In [ ]:
df1 = pd.DataFrame({"Rollno":[118],"Gender":["F"],"Section":["C"],"SSC Percentage":[98.4],"inter_Diploma_peecentage":[99],"B.Tech_percentage":[75],"Backlogs":[0],"registered_for_Placement_Training":["Not applicable"],"hostler/day's scholar":["hostler"],"placement_status":["Not placed"]})
df1

In [ ]:
df = df.append(df1)
df.head()

### **3.4) Deleting a row**

In [ ]:
df=df.drop(3)
df.head()

### **3.5) Modifying elements**

In [ ]:
df.loc[1,"hostlers/days scholar"] = "hostler"
df.head()

## **4) Applying functions on a dataframe**

In [ ]:
def gracep(x):
  if (x<70):
     return (x+0.05)
  else:
     return (x)

In [ ]:
df["B.Tech_percentage"]=df["B.Tech_percentage"].apply(gracep)
df.head()

## **5) Iterations on dataframe**

In [ ]:
for index,rows in df[df["B.Tech_percentage"]>=80].iterrows():
   print(rows["Roll No"]),"-",(rows["B.Tech_percentage"])

## **6) Accessing elements from a dataframe**

In [ ]:
df.loc[[1,2],["SSC Percentage","inter_percentage"]]

## **7) Different ways to deal with NA's in dataframe**

In [ ]:
df["SSC Percentage"]=df["SSC Percentage"].replace(to_replace=np.nan,value=np.mean(df["SSC Percentage"]))
df.head()

## **8) Groupby operations on dataframe**

In [ ]:
group = df.groupby("Gender")
group["B.Tech_percentage"].agg(np.mean)

## **9) Merging the dataframes**

In [ ]:
df2 = pd.read_excel("urban_rural.csv")
df2.head()

In [ ]:
df = pd.merge(df,df2,on = "Roll No")
df.head()